.tab-link--of--tab-content
  a.tab-active(data-index="0") Dingdong 24D
  a(data-index="1") Dingdong 36D
  a(data-index="2") Dingdong Black-Red

.tab-content--of--tab-content-v2
  .tab-content-v2.tab-content-v2-active.gld-content
    include gld/24d

  .tab-content-v2.gld-content
    include gld/36d

  .tab-content-v2.gld-content
    include gld/br
