.tab-link--of--tab-content
  a.tab-active(data-index="0") Nomor Keluar
  a(data-index="1") 4D
  a(data-index="2") Colok Bebas
  a(data-index="3") Colok Bebas 2D
  a(data-index="4") Colok Naga
  a(data-index="5") Colok Jitu
  a(data-index="6") Tengah
  a(data-index="7") Kombinasi
  a(data-index="8") Dasar
  a(data-index="9") 50-50
  a(data-index="10") Shio
  a(data-index="11") Silang
  a(data-index="12") Kembang

.tab-content--of--tab-content-v2.gametogel
  .tab-content-v2.tab-content-v2-active
    include gt/nomorkeluar

  .tab-content-v2
    include gt/4d

  .tab-content-v2
    include gt/colokbebas

  .tab-content-v2
    include gt/colokbebas2d

  .tab-content-v2
    include gt/coloknaga

  .tab-content-v2
    include gt/colokjitu

  .tab-content-v2
    include gt/tengah

  .tab-content-v2
    include gt/kombinasi

  .tab-content-v2
    include gt/dasar

  .tab-content-v2
    include gt/5050

  .tab-content-v2
    include gt/shio

  .tab-content-v2
    include gt/silang

  .tab-content-v2
    include gt/kembang
