.tab-link--of--tab-content
  a.tab-active(data-index="0") Nomor Keluar
  a(data-index="1") 4D
  a(data-index="2") Colok Bebas
  a(data-index="3") Colok Bebas 2D
  a(data-index="4") Colok Naga
  a(data-index="5") Colok Jitu
  a(data-index="6") Tengah
  a(data-index="7") Kombinasi
  a(data-index="8") Dasar
  a(data-index="9") 50-50
  a(data-index="10") Shio
  a(data-index="11") Silang
  a(data-index="12") Kembang

.tab-content--of--tab-content-v2
  .tab-content-v2.tab-content-v2-active
    p Nomor Keluar

  .tab-content-v2
    p 4D

  .tab-content-v2
    p Colok Bebas

  .tab-content-v2
    p Colok Bebas 2D

  .tab-content-v2
    p Colok Naga

  .tab-content-v2
    p Colok Jitu

  .tab-content-v2
    p Tengah

  .tab-content-v2
    p Kombinasi

  .tab-content-v2
    p Dasar

  .tab-content-v2
    p 50-50

  .tab-content-v2
    p Shio

  .tab-content-v2
    p Silang

  .tab-content-v2
    p Kembang
