.tab-link--of--tab-content
  a.tab-active(data-index="0") Pendaftaran
  a(data-index="1") Deposit
  a(data-index="2") Withdraw
  a(data-index="3") Tidak Bisa Login
  a(data-index="4") Lupa Password
  a(data-index="5") Memo

.tab-content--of--tab-content-v2
  .tab-content-v2.tab-content-v2-active
    .content-v2
      .content-text.full-width
        .group-text
          p.group-title Cara mendapatkan userid di nusatogel.com adalah sebagai berikut :

          ol
            li Klik menu daftar pada halaman depan atau tombol registrasi
            li Username : diisi dengan nama login yang anda inginkan (Minimal 4 karakter)
            li
              p Password : Password tidak boleh mengandung tanda baca seperti titik koma tanda petik tanda seru tanda tanya atau spasi dan harus mengandung gabungan huruf dan angka.
              p Password yang diterima adalah contoh : DingDong123
            li Email : Email aktif anda
            li Telepon : Isi dengan nomor telepon/handphone yang aktif.
            li Nama Rekening Bank : harap diisi sesuai dengan nama di buku tabungan anda. Perhatikan ejaan nama anda dengan benar. Nama yang tidak benar maka deposit tidak akan kami proses.
            li
              p Nomor Rekening Bank: nomor rekening BCA anda 10 angka contoh xxx-xxx-xxxx
              p Nomor rekening mandiri anda 13 angka contoh : xxx-xxx-xxxxxxx
              p Jika nomor rekening BNI anda 9 digit, mohon masukkan angka '0' pada angka pertama. Contoh : 123-456-789 -&gt; 012-345-6789
              p Nomor Rekening BRI anda 15 angka contoh : xxx-xxx-xxxxxxxxx
            li
              p Isi CAPTCHA dengan angka yang benar sesuai pada yang tampil dimenu daftar anda contoh sebagai berikut :
            li Jika anda masih mendapatkan kesulitan dalam mendaftar pastikan anda membaca petunjuk yang ada di tampilan menu pendaftaran dengan baik.

        .group-text.plus-margin
          p.group-title Syarat dan ketentuan yang harus anda ketahui sebelum membuat userID nusatogel.com :

          ol
            li Satu rekening bank hanya dapat di daftarkan ke satu USERID saja.
            li Alamat email haruslah valid karena sangat berguna pada saat anda lupa Password.
            li Nama Rekening Bank adalah nama anda yang tertera di BUKU TABUNGAN anda.
            li Untuk anda yang memiliki nama TUNGGAL atau tidak mempunyai nama panjang contoh: TONO, TONI dll. Kami sarankan untuk transfer deposit ke rekening kami dengan nominal yang unik, contoh : Rp. 100.123, Rp.1.000.547,- Untuk mempercepat proses deposit anda.

  .tab-content-v2
    .content-v2
      .content-text.full-width
        p.group-text nusatogel.com tidak pernah mengirimkan REKENING DEPOSIT melalui SMS ataupun EMAIL.
        p.group-text Deposit adalah mengirim uang ke rekening kami yang tersedia di menu deposit. Bagaimana cara melakukan Deposit ?

        .group-text
          p.group-title Cara Melakukan Deposit :

          ol
            li Minimal Deposit di nusatogel.com adalah Rp 250.000,-
            li Pengiriman dana deposit haruslah tertuju ke rekening yang tertera di menu DEPOSIT. Harap selalu melakukan pengecekan REKENING AKTIF KAMI yang tertera di menu DEPOSIT sebelum melakukan pengiriman dana. Karena rekening aktif kami selalu berubah sesuai dengan volume transaksi yang ada di rekening tersebut.
            li Setelah melakukan transfer ke rekening kami silahkan konfirmasi di menu DEPOSIT.

  .tab-content-v2
    .content-v2
      .content-text.full-width
        p.group-text Uang withdraw akan di transfer ke Rekening Bank yang anda daftarkan pertama kali.
        p.group-text Pada Umumnya withdraw di proses dalam waktu tidak melebihi 1 jam. Tetapi, pada kondisi tertentu proses withdraw tidak dapat kami proses atau terjadi penundaan waktu proses withdraw.

        ol.list-withdraw
          li
            p.list-title Bank Offline

            ul
              li
                p.bold Saat BCA Offline kami tidak bisa memproses Withdraw anda. - Jadwal BCA OFFLINE dapat anda lihat dibawah ini :

                ul
                  li Senin - Jumat ( hari kerja ) Pukul 21.00 WIB - 01.00 WIB
                  li Sabtu 21.30 WIB - 23.00 WIB lalu dilanjutkan 23.59 WIB - 06.00 WIB.
                  li Minggu tidak ada offline
                  li Hari libur tanggal merah BCA tidak OFFLINE ( hari besar libur umum )
                  li Masa Offline BCA tidak dapat ditentukan dan merupakan kondisi dari pihak Bank BCA.

              li
                p.bold - Jadwal Mandiri OFFLINE dapat anda lihat dibawah ini :

                ul
                  li Senin - Minggu Pukul 23.00 WIB - 04.00 WIB
                  li Terkadang Mandiri OFFLINE mendadak atau error mendadak.

              li
                p.bold - Jadwal BNI OFFLINE dapat anda lihat dibawah ini :

                ul
                  li Online 24 Jam, kecuali maintenance

              li
                p.bold - Jadwal BRI OFFLINE dapat anda lihat dibawah ini :

                ul
                  li Hari Senin - Minggu 00.00 - 06.00 WIB

          li
            p.list-title Nomor Rekening yang didaftarkan tidak valid

            ul
              li
                p Jika nomor rekening yang anda daftarkan tidak VALID, maka WITHDRAW anda akan kami TOLAK.

          li
            p.list-title Bank gangguan

            ul
              li
                p Seperti yang ada di POINT 1. Gangguan pada Bank merupakan kondisi dari pihak Bank. Kami tidak bisa menginformasikan jadwal pada Bank (kami tidak dapat berikan informasi kapan akan normal kembali)

          li
            p.list-title Withdraw Anda Masih Dalam Proses

            ul
              li
                p Proses Withdraw anda kami proses sesuai dengan antrian Withdraw yang masuk. Jika ada MEMO WITHDRAW tetapi uang belum sampai di rekening anda dalam waktu 1x24 jam, silahkan kirim keluhan anda melalui memo di nusatogel.com

  .tab-content-v2
    .content-v2
      .content-text.full-width
        p.group-text Ada beberapa hal penyebab mengapa anda tidak bisa login di www.nusatogel.com

        .group-text
          ol
            li Akun anda sebelumnya menggunakan password dengan tanda baca seperti spasi atau koma. Cara penyelesaian silahkan klik menu Lupa Password pada halaman depan www.nusatogel.com
            li cek kembali apakah URL ( alamat website ) yang anda masukkan sudah benar. Yaitu www.nusatogel.com
            li Di coba untuk meng-update browser anda dan flash player anda.

  .tab-content-v2
    .content-v2
      .content-text.full-width
        p.group-text Apabila anda lupa password id anda, silahkan klik menu lupa password di halaman depan.
        p.group-text Harap mengisi data pada form lupa password sesuai sama pada saat anda mendaftar id anda.

  .tab-content-v2
    .content-v2
      .content-text.full-width
        p.group-text Memo adalah salah satu fasilitas di www.nusatogel.com untuk mengirim sebuah berita berisikan informasi, pertanyaan, keluhan atau lainnya kepada OPERATOR.

        .group-text
          p Cara mengirim memo :
          ol
            li Login dengan id anda
            li Pilih menu MEMO
            li Klik menu COMPOSE untuk memulai mengirim berita ke OPERATOR.

        p.group-text Menulis memo haruslah jelas, padat dan berisi. Agar kami bisa cepat membantu dan menangani masalah anda.

        .group-text
          p Contoh isi memo untuk DEPOSIT anda yang belum masuk :
          p Deposit saya tidak masuk
          ul
            li Tanggal pengiriman : .....
            li Jam pengiriman : .....
            li Ke rekening : .....
            li Jumlah : .....

        .group-text
          p Contoh isi memo untuk WITHDRAW anda yang belum masuk :
          p Withdraw saya tidak masuk
          ul
            li Tanggal mengajukan withdraw : .....
            li Jam mengajukan withdraw : .....
            li Silahkan komplain Withdraw jika dana belum masuk ke rekening anda dalam 1x24 jam sejak pengajuan withdraw

















        .gold
