.tab-link--of--tab-content
  a.tab-active(data-index="0") Pendaftaran
  a(data-index="1") Deposit
  a(data-index="2") Withdraw
  a(data-index="3") Tidak Bisa Login
  a(data-index="4") Lupa Password
  a(data-index="5") Memo

.tab-content--of--tab-content-v2
  .tab-content-v2.tab-content-v2-active
    p Pendaftaran

  .tab-content-v2
    p Deposit

  .tab-content-v2
    p Withdraw

  .tab-content-v2
    p Tidak Bisa Login

  .tab-content-v2
    p Lupa Password

  .tab-content-v2
    p Memo
