footer
  .container
    .div-half
      p.content NusaTogel merupakan situs judi online indonesia yang terpercaya dengan transaksi deposit / withdraw yang cepat. togel4d.com memiliki diskon pembelian nomor yang sangat tinggi serta bonus referral yang besar untuk Anda para pecinta togel online. Kami menjamin keamanan dan kerahasian data-data pribadi Anda.

      p.copyright Copyright &copy; www.nusatogel.com - 2016 All Rights Reserved.


    .div-half
      .div-half-2
        p.title Links

        ul
          +listDataLinks

      .div-half-2
        p.title Banks

        ul.banks
          li
            p BCA
            span.online online
          li
            p BRI
            span.problem problem
          li
            p BNI
            span.online online
          li
            p Mandiri
            span.online online
