extends templates/layout

block styles
  link(rel="stylesheet" href="../css/style.css")

  <!--[if IE 8]>
    link(rel="stylesheet" href="../css/ie-style.css")
  <![endif]-->
  <!--[if IE 9]>
    link(rel="stylesheet" href="../css/ie-style.css")
  <![endif]-->


block content
  - var label = "Hasil Lengkap"

  include templates/top-layout

  section.main-content
    .container
      #main-links
        a.active(data-index="0") Hasil Singapore
        a(data-index="1") Hasil Dingdong Black - Red
        a(data-index="2") Hasil Dingdong 36D
        a(data-index="3") Hasil Dingdong 24D

      #main-content.hasil
        .tab-content.active
          .top-toolbar
            .search-bar
              input(type="text" placeholder="Search...")

            .pagination
              a.p-active 1
              a 2
              a 3
              a 4

          include hasillengkap/sg

        .tab-content.five
          .top-toolbar
            .search-bar
              input(type="text" placeholder="Search...")

            .pagination
              a.p-active 1
              a 2
              a 3

          include hasillengkap/br

        .tab-content
          .top-toolbar
            .search-bar
              input(type="text" placeholder="Search...")

          include hasillengkap/36d

        .tab-content
          .top-toolbar
            .search-bar
              input(type="text" placeholder="Search...")

            .pagination
              a.p-active 1
              a 2

          include hasillengkap/24d

  include templates/welcome
  include templates/footer
  include templates/modal

block scripts
  script(src="../js/tweenmax.js")
  script(src="../js/app.js")
  script(src="../js/links.js")

  script.
