extends templates/layout

block styles
  link(rel="stylesheet" href="../css/style.css")

  <!--[if IE 8]>
    link(rel="stylesheet" href="../css/ie-style.css")
  <![endif]-->
  <!--[if IE 9]>
    link(rel="stylesheet" href="../css/ie-style.css")
  <![endif]-->


block content
  - var label = "Lupa Password"

  include templates/top-layout

  section.main-content
    .container.container-lupa-pass
      .content-text-v2
        p.main-title.center Lupa Password

        .form
          form
            .holder
              .input-holder
                label Username
                input(type="text" name="username")

              .input-holder
                label Email
                input(type="email" name="email")

              .input-holder
                label Pertanyaan Keamanan
                p Why climate change happens?

              .input-holder
                label Jawaban Keamanan
                input(type="text" name="jawaban")

            .holder
              .input-holder
                label Nama Bank
                select
                  option BCA
                  option Mandiri
                  option BRI
                  option BNI

              .input-holder
                label Nama Rekening Bank
                input(type="text" name="nama")

              .input-holder
                label Nomor Rekening Bank
                input(type="text" name="nomorrek")

              .input-holder
                label Code

                .code
                  input(type="text" name="Code")

                  .dummy

              input(type="submit" value="Kirim")

  include templates/welcome
  include templates/footer
  include templates/modal

block scripts
  script(src="../js/tweenmax.js")
  script(src="../js/app.js")
