.content-v2
  .content-text.full-width
    p.group-text nusatogel.com tidak pernah mengirimkan REKENING DEPOSIT melalui SMS ataupun EMAIL.
    p.group-text Deposit adalah mengirim uang ke rekening kami yang tersedia di menu deposit. Bagaimana cara melakukan Deposit ?

    .group-text
      p.group-title Cara Melakukan Deposit :

      ol
        li Minimal Deposit di nusatogel.com adalah Rp 250.000,-
        li Pengiriman dana deposit haruslah tertuju ke rekening yang tertera di menu DEPOSIT. Harap selalu melakukan pengecekan REKENING AKTIF KAMI yang tertera di menu DEPOSIT sebelum melakukan pengiriman dana. Karena rekening aktif kami selalu berubah sesuai dengan volume transaksi yang ada di rekening tersebut.
        li Setelah melakukan transfer ke rekening kami silahkan konfirmasi di menu DEPOSIT.
