.content-v2
  .content-text.full-width
    p.group-text Apabila anda lupa password id anda, silahkan klik menu lupa password di halaman depan.
    p.group-text Harap mengisi data pada form lupa password sesuai sama pada saat anda mendaftar id anda.
