.content-v2
  .content-text.full-width
    p.group-text Memo adalah salah satu fasilitas di www.nusatogel.com untuk mengirim sebuah berita berisikan informasi, pertanyaan, keluhan atau lainnya kepada OPERATOR.

    .group-text
      p Cara mengirim memo :
      ol
        li Login dengan id anda
        li Pilih menu MEMO
        li Klik menu COMPOSE untuk memulai mengirim berita ke OPERATOR.

    p.group-text Menulis memo haruslah jelas, padat dan berisi. Agar kami bisa cepat membantu dan menangani masalah anda.

    .group-text
      p Contoh isi memo untuk DEPOSIT anda yang belum masuk :
      p Deposit saya tidak masuk
      ul
        li Tanggal pengiriman : .....
        li Jam pengiriman : .....
        li Ke rekening : .....
        li Jumlah : .....

    .group-text
      p Contoh isi memo untuk WITHDRAW anda yang belum masuk :
      p Withdraw saya tidak masuk
      ul
        li Tanggal mengajukan withdraw : .....
        li Jam mengajukan withdraw : .....
        li Silahkan komplain Withdraw jika dana belum masuk ke rekening anda dalam 1x24 jam sejak pengajuan withdraw
