.content-v2
  .content-text.full-width
    .group-text
      p.group-title Cara mendapatkan userid di nusatogel.com adalah sebagai berikut :

      ol
        li Klik menu daftar pada halaman depan atau tombol registrasi
        li Username : diisi dengan nama login yang anda inginkan (Minimal 4 karakter)
        li
          p Password : Password tidak boleh mengandung tanda baca seperti titik koma tanda petik tanda seru tanda tanya atau spasi dan harus mengandung gabungan huruf dan angka.
          p Password yang diterima adalah contoh : DingDong123
        li Email : Email aktif anda
        li Telepon : Isi dengan nomor telepon/handphone yang aktif.
        li Nama Rekening Bank : harap diisi sesuai dengan nama di buku tabungan anda. Perhatikan ejaan nama anda dengan benar. Nama yang tidak benar maka deposit tidak akan kami proses.
        li
          p Nomor Rekening Bank: nomor rekening BCA anda 10 angka contoh xxx-xxx-xxxx
          p Nomor rekening mandiri anda 13 angka contoh : xxx-xxx-xxxxxxx
          p Jika nomor rekening BNI anda 9 digit, mohon masukkan angka '0' pada angka pertama. Contoh : 123-456-789 -&gt; 012-345-6789
          p Nomor Rekening BRI anda 15 angka contoh : xxx-xxx-xxxxxxxxx
        li
          p Isi CAPTCHA dengan angka yang benar sesuai pada yang tampil dimenu daftar anda contoh sebagai berikut :
        li Jika anda masih mendapatkan kesulitan dalam mendaftar pastikan anda membaca petunjuk yang ada di tampilan menu pendaftaran dengan baik.

    .group-text.plus-margin
      p.group-title Syarat dan ketentuan yang harus anda ketahui sebelum membuat userID nusatogel.com :

      ol
        li Satu rekening bank hanya dapat di daftarkan ke satu USERID saja.
        li Alamat email haruslah valid karena sangat berguna pada saat anda lupa Password.
        li Nama Rekening Bank adalah nama anda yang tertera di BUKU TABUNGAN anda.
        li Untuk anda yang memiliki nama TUNGGAL atau tidak mempunyai nama panjang contoh: TONO, TONI dll. Kami sarankan untuk transfer deposit ke rekening kami dengan nominal yang unik, contoh : Rp. 100.123, Rp.1.000.547,- Untuk mempercepat proses deposit anda.
