.content-v2
  .content-text.full-width
    p.group-text Ada beberapa hal penyebab mengapa anda tidak bisa login di www.nusatogel.com

    .group-text
      ol
        li Akun anda sebelumnya menggunakan password dengan tanda baca seperti spasi atau koma. Cara penyelesaian silahkan klik menu Lupa Password pada halaman depan www.nusatogel.com
        li cek kembali apakah URL ( alamat website ) yang anda masukkan sudah benar. Yaitu www.nusatogel.com
        li Di coba untuk meng-update browser anda dan flash player anda.
