.content-v2
  .content-text.full-width
    p.group-text Uang withdraw akan di transfer ke Rekening Bank yang anda daftarkan pertama kali.
    p.group-text Pada Umumnya withdraw di proses dalam waktu tidak melebihi 1 jam. Tetapi, pada kondisi tertentu proses withdraw tidak dapat kami proses atau terjadi penundaan waktu proses withdraw.

    ol.list-withdraw
      li
        p.list-title Bank Offline

        ul
          li
            p.bold Saat BCA Offline kami tidak bisa memproses Withdraw anda. - Jadwal BCA OFFLINE dapat anda lihat dibawah ini :

            ul
              li Senin - Jumat ( hari kerja ) Pukul 21.00 WIB - 01.00 WIB
              li Sabtu 21.30 WIB - 23.00 WIB lalu dilanjutkan 23.59 WIB - 06.00 WIB.
              li Minggu tidak ada offline
              li Hari libur tanggal merah BCA tidak OFFLINE ( hari besar libur umum )
              li Masa Offline BCA tidak dapat ditentukan dan merupakan kondisi dari pihak Bank BCA.

          li
            p.bold - Jadwal Mandiri OFFLINE dapat anda lihat dibawah ini :

            ul
              li Senin - Minggu Pukul 23.00 WIB - 04.00 WIB
              li Terkadang Mandiri OFFLINE mendadak atau error mendadak.

          li
            p.bold - Jadwal BNI OFFLINE dapat anda lihat dibawah ini :

            ul
              li Online 24 Jam, kecuali maintenance

          li
            p.bold - Jadwal BRI OFFLINE dapat anda lihat dibawah ini :

            ul
              li Hari Senin - Minggu 00.00 - 06.00 WIB

      li
        p.list-title Nomor Rekening yang didaftarkan tidak valid

        ul
          li
            p Jika nomor rekening yang anda daftarkan tidak VALID, maka WITHDRAW anda akan kami TOLAK.

      li
        p.list-title Bank gangguan

        ul
          li
            p Seperti yang ada di POINT 1. Gangguan pada Bank merupakan kondisi dari pihak Bank. Kami tidak bisa menginformasikan jadwal pada Bank (kami tidak dapat berikan informasi kapan akan normal kembali)

      li
        p.list-title Withdraw Anda Masih Dalam Proses

        ul
          li
            p Proses Withdraw anda kami proses sesuai dengan antrian Withdraw yang masuk. Jika ada MEMO WITHDRAW tetapi uang belum sampai di rekening anda dalam waktu 1x24 jam, silahkan kirim keluhan anda melalui memo di nusatogel.com
