.content-v2
  .content-text.full-width
    p.group-text 4D, 3D dan 2D
    p.group-text Menebak 4 angka, 3 angka dan 2 angka.
    p.group-text Struktur: ABCD

    .group-text
      p Misalnya keluar : 4321
      p Berarti pemenang untuk
      p 4D = 4321
      p 3D = 321
      p 2D = 21

    .group-text
      p Aturan permainan:
      ol
        li Jika anda membeli diluar dari nomor yang dikeluarkan, berarti anda kalah dan uang tidak dikembalikan sama sekali.
        li Jika anda membeli masing 100rb untuk angka:

    .group-text
      p 4D = 4321
      p 3D = 321
      p 2D = 21

    p.group-text (Khusus untuk 4D,3D dan 2D diberikan diskon tambahan. Diskon akan makin besar jika nilai akumulasi betting dalam satu periode makin besar)

    .group-text
      p Berarti kemenangan anda adalah:
      p 4D = 100rb x [Indeks kemenangan untuk 4D]
      p 3D = 100rb x [Indeks kemenangan untuk 3D]
      p 2D = 100rb x [Indeks kemenangan untuk 2D]
      p (Catatan: nilai bet 100rb tidak dikembalikan ke member)
