.content-v2
  .content-text.full-width
    p.group-text Menebak ganjil/genap, besar/kecil, Permainan ini sangat menarik karena pasarannya naik turun sesuai keinginan market pada waktu tersebut. Dengan demikian, nilai pembelian dipengaruhi kei (pasaran).

    .group-text
      p Struktur: ABCD
      p Menebak ganjil/genap dan besar/kecil dari posisi:
      p A = AS
      p B = KOP
      p C = KEPALA
      p D = EKOR
      p Besar/Kecil: 0 - 4 = kecil, 5 - 9 = besar
      p Ganjil/Genap : 1 = ganjil, 2 = genap dan seterusnya

    .group-text
      p.bold Analisis I:
      p Keluar : 4327
      p Berarti pemenang adalah yang memilih:
      p AS GENAP/KECIL
      p KOP GANJIL/KECIL
      p KEPALA GENAP/KECIL
      p EKOR GANJIL/BESAR
      p Misal anda membeli dengan dana Rp.100rb untuk AS Genap, menang = 100rb + [indeks pasaran AS Genap 50-50]
      p Atau:
      p Jika membeli dengan dana Rp.100rb untuk Ekor Ganjil, menang = 100rb + [indeks pasaran Ekor Ganjil 50-50]
      p Atau:
      p Jika membeli dengan dana Rp.100rb untuk AS Ganjil, kalah = 100rb + [indeks pasaran AS Ganjil 50-50]

    p.group-text NB: Indeks menang dan diskon dapat dilihat di bagian Peraturan
