.content-v2
  .content-text.full-width
    p.group-text Menebak satu angka pada posisi tertentu dari 4D.
    p.group-text Struktur: ABCD

    .group-text
      p.bold Analisis I:
      p Keluar : 4321
      p Misalnya dibeli 4 pada posisi AS dengan nilai 100rb.
      p Berarti menang:
      p 100rb + [Indeks kemenangan untuk colok jitu]

    .group-text
      p.bold Analisis II:
      p Keluar : 4331
      p Misalnya dibeli 3 pada posisi KOP dengan nilai 100rb.
      p Berarti menang:
      p 100rb + [Indeks kemenangan untuk colok jitu]. Hasilnya sama dengan analisis I karena hanya memperhatikan posisi yang dipasang.

    .group-text
      p.bold Analisis III:
      p Keluar : 4331
      p Misalnya dibeli 4 pada posisi EKOR dengan nilai 100rb.
      p Berarti kalah. Biarpun nilai 4 keluar pada posisi AS tapi tidak akan mepengaruhi pemilihan di pososi EKOR

    p.group-text NB: Indeks menang dan diskon dapat dilihat di bagian Peraturan
