.content-v2
  .content-text.full-width
    p.group-text Cara kerja seperti colok bebas tapi mesti yang keluar 2 angka dari 4D.
    p.group-text Struktur: ABCD

    .group-text
      p.bold Analisis I:
      p Keluar : 4321
      p Misalnya dibeli 4 dan 2 dengan nilai 100rb.
      p Berarti menang:
      p 100rb + [Indeks kemenangan untuk colok bebas 2D, kategori: 2 digit]

    .group-text
      p.bold Analisis II:
      p Keluar : 4321
      p Misalnya dibeli 4 dan 6 dengan nilai 100rb.
      p Berarti KALAH dan nilai betting tidak dikembalikan

    .group-text
      p.bold Analisis III:
      p Keluar : 4331
      p Misalnya dibeli 4 dan 3 dengan nilai 100rb.
      p Berarti menang:
      p 100rb + [Indeks kemenangan untuk colok bebas 2D, kategori: 3 digit]

    .group-text
      p.bold Analisis IV:
      p Keluar : 4334
      p Misalnya dibeli 4 dan 3 dengan nilai 100rb.
      p Berarti menang:
      p 100rb + [Indeks kemenangan untuk colok bebas 2D, kategori: 4 digit]

    p.group-text NB: Indeks menang dan diskon dapat dilihat di bagian Peraturan
