.content-v2
  .content-text.full-width
    p.group-text Menebak satu angka dari 4D. Posisi angka bisa dimana saja
    p.group-text Struktur: ABCD

    .group-text
      p.bold Analisis I:
      p Keluar : 4321
      p Misalnya dibeli 3 dengan nilai 100rb.
      p Berarti menang:
      p 100rb + [Indeks kemenangan untuk colok bebas]

    .group-text
      p.bold Analisis II:
      p Keluar : 4331
      p Misalnya dibeli 3 dengan nilai 100rb.
      p Berarti menang:
      p 100rb + ([Indeks kemenangan untuk colok bebas] x 2)

    .group-text
      p dan seterusnya untuk setiap kembaran yang berhasil ditebak, otomatis mendapat kelipatan [Indeks kemenangan untuk colok bebas]
      p NB: Indeks menang dan diskon dapat dilihat di bagian Peraturan
