.content-v2
  .content-text.full-width
    p.group-text Cara kerja seperti colok bebas 2D tapi mesti yang keluar 3 angka dari 4D.
    p.group-text Struktur: ABCD

    .group-text
      p.bold Analisis I:
      p Keluar : 4321
      p Misalnya dibeli 4 ,2 dan 3 dengan nilai 100rb.
      p Berarti menang: karena keluar 3 digit,angka 4,2 dan 3.
      p 100rb + [Indeks kemenangan untuk colok naga , kategori: 3 digit]

    .group-text
      p.bold Analisis II:
      p Keluar : 4321
      p Misalnya dibeli 4,2 dan 6 dengan nilai 100rb.
      p Berarti KALAH: karena keluar hanya 2 digit,angka 4 dan 2 .dan angka 6 tidak muncul nilai betting tidak dikembalikan

    .group-text
      p.bold Analisis III:
      p Keluar : 4331
      p Misalnya dibeli 4,3 dan 3 dengan nilai 100rb.
      p Berarti menang: karena keluar 3 digit,angka 4,3 dan 3.
      p 100rb + [Indeks kemenangan untuk colok naga , kategori: 3 digit]

    .group-text
      p.bold Analisis IV:
      p Keluar : 4334
      p Misalnya dibeli 4,3 dan 3 dengan nilai 100rb.
      p karena keluar 4 digit,angka 4,3 dan 3.
      p Berarti menang:
      p 100rb + [Indeks kemenangan untuk colok naga, kategori: 4 digit]

    p.group-text NB: Indeks menang dan diskon dapat dilihat di bagian Peraturan
