.content-v2
  .content-text.full-width
    .group-text
      p Menebak ganjil/genap dan besar/kecil dari penjumlah angka-angka 2D.
      p Nilai pembelian ditentukan pasaran (kei) pada saat itu.

    .group-text
      p Struktur: CD (2 angka terakhir)
      p Kecil = angka 0 - 4
      p Besar = angka 5 - 9
      p Ganjil = 1, 3, 5, 7, 9
      p Genap = 0, 2, 4, 6, 8

    .group-text
      p.bold Analisis I:
      p Keluar : 1234
      p 3 + 4 = 7
      p Berarti keluar : Ganjil dan Besar

    .group-text
      p.bold Analisis III:
      p Keluar : 1204
      p 0 + 4 = 4
      p Berarti keluar : Genap dan Kecil
      p Misal anda membeli dengan Rp.100rb untuk Genap, menang = 100rb + [indeks menang untuk Dasar]

    .group-text
      p.bold Analisis II:
      p Keluar : 5678

    p.group-text NB: Indeks menang dan diskon dapat dilihat di bagian Peraturan
