.content-v2
  .content-text.full-width
    .group-text
      p Struktur ABCD
      p A = AS, B = KOP, C = KEPALA, D = EKOR
      p Besar/Kecil: 0-4=kecil, 5-9=besar
      p Ganjil/Genap : 1=ganjil, 2=genap dan seterusnya

    .group-text
      p Anda dapat menebak Genap/Ganjil, Besar/Kecil
      p dari 2 kombinasi antara AS, KOP, KEPALA, EKOR

    p.group-text Analisis : keluar nomor 1845

    .group-text
      p berarti pemenang untuk :
      p AS Kecil/Ganjil dan KOP Besar/Genap
      p KEPALA Kecil/Genap dan EKOR Besar/Ganjil
      p AS Kecil/Ganjil dan KEPALA Kecil/Genap
      p AS Kecil/Ganjil dan EKOR Besar/Ganjil
      p KOP Besar/Genap dan KEPALA Kecil/Genap
      p KOP Besar/Genap dan EKOR Besar/Ganjil

    .group-text
      p Misalnya anda membeli AS KECIl dan KOP GENAP seharga 100rb,
      p maka menang = 100rb + [indeks kemenangan untuk kombinasi 2]
      p atau :
      p jika membeli KOP GENAP dan KEPALA GENAP seharga 100rb,
      p maka menang = 100rb + [indeks kemenangan untuk kombinasi 2]
      p atau :
      p jika membeli KEPALA KECIL dan EKOR GENAP seharga 100rb, berarti KALAH
      p ( Anda harus menebak keduanya dengan Benar agar Menang )

    p.group-text NB: Indeks menang dan diskon dapat dilihat di bagian Peraturan
