.content-v2
  .content-text.full-width
    p.group-text Untuk togel jenis 4D Singapore pengeluaran Rabu , Sabtu dan Minggu kami mengambil pedoman sebagai nomor pengeluaran adalah berdasar kan 1st prize nomor yang dihasilkan oleh 4D Singapore untuk melihat hasil nomor tersebut bisa dilihat di www.singaporepools.com.sg.

    .group-text
      p.bold Contoh nomor bola angka yang dihasilkan singapore toto:
      p Bola 1 = 7
      p Bola 2 = 21
      p Bola 3 = 29
      p Bola 4 = 32
      p Bola 5 = 36
      p Bola 6 = 38
      p Additional Number = 04

    .group-text
      p Nomor buka 0885
      p Cara perhitungan rumus

    .group-text
      p Bola di urutkan dari yang terkecil sampai yang terbesar kemudian bola ke 1 sampai bola ke 6 dijumlahkan 7+21+29+32+36+38 = 163 di kali 2 = 326. Hasil dari 326 dikurangkan bola ke 1 ( 7 ) dan bola ke 6 ( 38 ) = 281, sisa 281 ditambah additional number (04) = 285.
      p Dari hasil 285, didapatkan 2 angka puluhan 85 tersebut. Setelah itu dicari angka ratusan dan ribuan nya. Untuk mendapat angka ratusan kita mengambil dari bola ke 4 ( 32 ) ditambah bola ke 5 ( 36 ) jumlah = 68 kita ambil ekor 8 ini sebagai angka untuk ratusan dan untuk mendapat angka ribuan kita mengambil dari bola ke 2 ( 21 ) ditambah bola ke 3 ( 29 ) jumlah = 50 kita ambil ekor 0 ini sebagai angka untuk ribuan.

    .group-text
      p Maka hasil perhitungan diatas
      p Ribuan = 0, Ratusan = 8, Puluhan = 85, Maka hasilnya = buka 0885
