.content-v2
  .content-text.full-width
    .group-text
      p Struktur: ABCD
      p Menebak SHIO dari posisi 2D, SHIO merupakan 12 lambang kelahiran dalam penanggalan China. Dalam permainan ini, setiap lambang diwakili dengan satu nomor.

    .group-text
      p Nama Shio
      p No Terkait

    .group-text
      p.bold Analisis I:
      p Keluar : 4321
      p Permainan ini hanya memperhatikan posisi 2D, berarti yang dipedomanin = 21
      p Hasil = 21 - 12 = 9 (shio disesuaikan dengan tabel diatas)
      p catatan: nilai yang dikurangi merupakan kelipatan 12.

    .group-text
      p Jika dilakukan pembelian dengan 100rb dan menang maka:
      p Menang = 100rb + [Indeks kemenangan untuk SHIO]

    p.group-text NB: Indeks menang dan diskon dapat dilihat di bagian Peraturan
