.content-v2
  .content-text.full-width
    p.group-text Permainan ini kadang disebut suami istri, Menebak dari posisi Depan,Tengah,Belakang.

    .group-text
      p Contoh no 1234
      p Yang dimaksud dengan Posisi Depan adalah 2 no terdepan yaitu 12
      p Yang dimaksud dengan Posisi Tengah adalah 2 no ditengah yaitu 23
      p Yang dimaksud dengan Posisi Belakang adalah 2 no terbelakang yaitu 34

    .group-text
      p SILANG = Terdapat Ganjil dan Genap
      p HOMO = Terdapat 1 pasang Ganjil atau 1 pasang Genap

    .group-text
      p.bold Analisis I: Beli Posisi Depan
      p Keluar : 4321
      p Yang menjadi pedoman adalah posisi Depan, berarti 12
      p 12 =&gt; 1 = ganjil dan 2 = genap , berarti hasil = SILANG

    .group-text
      p.bold Analisis II: Beli Posisi Tengah
      p Keluar : 4326
      p Yang menjadi pedoman adalah posisi Tengah, berarti 32
      p 32 =&gt; 3 = ganjil dan 2 = genap , berarti hasil = SILANG

    .group-text
      p.bold Analisis III: Beli Posisi Belakang
      p Keluar : 4533
      p Yang menjadi pedoman adalah posisi Belakang, berarti 33
      p 33 =&gt; 3 = ganjil dan 3 = ganjil , berarti hasil = HOMO

    .group-text
      p Jika dilakukan pembelian dengan 100rb dan menang maka:
      p Menang = 100rb + [Indeks kemenangan untuk Silang-Homo]

    p.group-text NB: Indeks menang dan diskon dapat dilihat di bagian Peraturan
