.header
  p Date (Day, Month, Year)
  p Periode
  p Result

.body
  table
    tr
      td 03-09-2016
      td 91 - 24D
      td: a 21

    tr
      td 03-09-2016
      td 90 - 24D
      td: a 06

    tr
      td 03-09-2016
      td 89 - 24D
      td: a 00

    tr
      td 03-09-2016
      td 88 - 24D
      td: a 21

    tr
      td 03-09-2016
      td 87 - 24D
      td: a 13

    tr
      td 03-09-2016
      td 86 - 24D
      td: a 21

    tr
      td 03-09-2016
      td 85 - 24D
      td: a 24

    tr
      td 03-09-2016
      td 84 - 24D
      td: a 19

    tr
      td 03-09-2016
      td 83 - 24D
      td: a 07

    tr
      td 03-09-2016
      td 82 - 24D
      td: a 15
