.header
  p Date (Day, Month, Year)
  p Periode
  p Result

.body
  table
    tr
      td 31-08-2016
      td 5 - 36D
      td: a 28

    tr
      td 31-08-2016
      td 4 - 36D
      td: a 11

    tr
      td 31-08-2016
      td 3 - 36D
      td: a 13

    tr
      td 31-08-2016
      td 2 - 36D
      td: a 25
