.header
  p Date (Day, Month, Year)
  p Periode
  p Bola Pertama
  p Bola Kedua
  p Bola Ketiga

.body
  table
    tr
      td 21-07-2016
      td 16 - BR
      td: a 2
      td: a 1
      td: a 3

    tr
      td 31-08-2016
      td 15 - BR
      td: a 3
      td: a 4
      td: a 6

    tr
      td 31-08-2016
      td 14 - BR
      td: a 4
      td: a 6
      td: a 2

    tr
      td 31-08-2016
      td 13 - BR
      td: a 4
      td: a 3
      td: a 6

    tr
      td 31-08-2016
      td 12 - BR
      td: a 6
      td: a 3
      td: a 5

    tr
      td 31-08-2016
      td 11 - BR
      td: a 1
      td: a 3
      td: a 6

    tr
      td 31-08-2016
      td 10 - BR
      td: a 4
      td: a 2
      td: a 5
