.header
  p Date (Day, Month, Year)
  p Periode
  p Result

.body
  table
    tr
      td 21-07-2016
      td 8 - SG
      td: a 2852

    tr
      td 20-07-2016
      td 7 - SG
      td: a 3440

    tr
      td 18-07-2016
      td 6 - SG
      td: a 3105

    tr
      td 17-07-2016
      td 5 - SG
      td: a 5186

    tr
      td 16-07-2016
      td 4 - SG
      td: a 8761

    tr
      td 15-07-2016
      td 3 - SG
      td: a 5709

    tr
      td 13-07-2016
      td 2 - SG
      td: a 5813

    tr
      td 11-07-2016
      td 1 - SG
      td: a 3581
