.content-v2
  .content-text
    p.div--cont-title Details

    ol
      li Total bola (angka) yang tersedia di DingDong 24D ada 24 bola + 1 bola angka 0.
      li Pilihan bet / taruhan yang bisa dipasang yaitu = kecil / besar, ganjil / genap, merah / hitam, dan pilihan angka berapa yang keluar.
      li Setiap periode pengeluaran DingDong 24D mengeluarkan 1 bola (angka) saja.

    p.div--cont-title.instr Instructions

    ol
      li Pertama anda harus meng-klik chip yang berada di kiri bawah untuk memilih berapa nominal taruhan anda,
      li Lalu silahkan klik / pilih taruhan yang anda inginkan.
      li Total betting anda akan muncul disini
      li Jika anda sudah selesai menentukan taruhan, silahkan klik tombol pasang agar taruhan anda ter-submit / diterima oleh sistem kami, jika anda ingin membatalkan silahkan klik tombol batal. (tombol batal berfungsi dimana anda belum klik tombol pasang, apabila sudah pasang/submit bettingan anda sudah tidak bisa dibatalkan)

    p.note Tombol ulang digunakan untuk melakukan taruhan ulang sesuai pada periode sebelumnya.

  .content-img
    img(src="../images/gld/36d.jpg")
    p Example panel betting of DingDong 36D
