.content-v2
  .content-text
    p.div--cont-title Details

    .group-text
      p Total bola (angka) yang tersedia di DingDong Black-Red ada 6. Dengan susunan warna (merah / hitam) seperti berikut :
      p.red 1 = Merah
      p 2 = Hitam
      p.red 3 = Merah
      p 4 = Hitam
      p.red 5 = Merah
      p 6 = Hitam

    p.group-text Setiap periode DingDong Black-Red mengeluarkan 3 bola (angka) secara bergantian. Dengan urutan bola pertama kemudian disusul bola kedua kemudian disusul bola ketiga
    p.group-text Pilihan betting / taruhan yang bisa dipasang pada DingDong Black-Red ada 2 jenis,
    p.group-text Yang pertama anda bisa menebak apakah bola pertama / bola kedua / bola ketiga keluar ganjil/genap, kecil/besar, merah/hitam, ataupun menebak langsung angka yang keluar.

    .group-text
      p Contoh 1 = bola yang keluar 5 (bola pertama) | 3 (bola kedua) | 1 (bola ketiga)

      ul
        li Apabila anda menebak bola pertama ganjil, maka anda menang.
        li Apabila anda menebak bola kedua hitam, maka anda kalah.

    p.group-text Anda diperbolehkan apabila ingin menebak bola kedua saja ataupun bola ketiga saja ataupun bola pertama saja.
    p.group-text Yang kedua anda bisa menebak warna bola yang keluar (posisi tidak diperhitungkan)

    .group-text
      p Contoh 2 :
      p Bola yang keluar pertama = 2 (hitam)
      p Bola yang keluar kedua = 4 (hitam)
      p Bola yang keluar ketiga = 6 (hitam)

      ul
        li Apabila anda menebak 3 bola hitam, maka anda menang. (karena hasil yang keluar adalah bola hitam semua seperti pada contoh diatas)
        li Apabila anda menebak 2 bola hitam, maka anda kalah.
        li Apabila anda menebak 3 bola merah, maka anda kalah.

    .group-text
      p Bola yang keluar pertama = 1 (merah)
      p Bola yang keluar kedua = 6 (hitam)
      p Bola yang keluar ketiga = 5 (merah)

      ul
        li Apabila anda menebak 3 bola hitam, maka anda kalah.
        li Apabila anda menebak 2 bola merah, maka anda menang. (karena hasil yang keluar hanya ada 2 bola merah saja seperti pada contoh diatas)
        li Apabila anda menebak 3 bola merah, maka anda kalah.

    p.div--cont-title.instr Instructions

    ol
      li Pertama anda harus meng-klik chip yang berada di kiri bawah untuk memilih berapa nominal taruhan anda,
      li Lalu silahkan klik / pilih taruhan yang anda inginkan.
      li Total betting anda akan muncul disini
      li Jika anda sudah selesai menentukan taruhan, silahkan klik tombol pasang agar taruhan anda ter-submit / diterima oleh sistem kami, jika anda ingin membatalkan silahkan klik tombol batal. (tombol batal berfungsi dimana anda belum klik tombol pasang, apabila sudah pasang/submit bettingan anda sudah tidak bisa dibatalkan)

    p.note Tombol ulang digunakan untuk melakukan taruhan ulang sesuai pada periode sebelumnya.

  .content-img
    img(src="../images/gld/br.jpg")
    p Example panel betting of DingDong Black-Red
